.navbar
    background none rgba(0,0,0,0.2) !important
.links
    background none !important
.home-blog 
    padding: 0 !important
.search-box input
    background-color: rgba(0,0,0,0) !important
.info-wrapper
    display: none !important
.nav-dropdown
    background none rgba(0,0,0,0.2) !important
.dropdown-wrapper .nav-dropdown .dropdown-item a
    font-weight: 600 !important
.content__default:not(.custom) > h2:first-child
    display: none !important
a.dropdown-title
    font-weight: 600 !important
    color #FFFFFF !important
.nav-item .nav-link
    font-weight: 600 !important
    color #FFFFFF !important 
.back-to-ceiling
    display none !important
.site-name
    color #FFFFFF !important
a .iconfont
    color #FFFFFF !important