.flex-container {
    background-color: lightcoral;
    display: flex;
    border-radius: 10px;
    border: 2px solid lightgrey;
}
.flex-item {
    width: 50px;
    height: 50px;
    background-color: lightblue;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid gray;
}
.flex-auto-height {
    height: auto;
}
.flex-auto-width {
    width: auto;
}