/**
 * css-flex-layout styles
 */
.flex-container {
    background-color: lightcoral;
    display: flex;
}
.flex-item {
    width: 50px;
    height: 50px;
    background-color: lightblue;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    margin: 5px;
}
.flex-auto-height {
    height: auto;
}